<body>
    <div class="profile-container">
    <h2>MY ACCOUNT</h2>

    <form>
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="user.name" name="name" disabled>

        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" disabled>

        <label for="email">Email address</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" disabled> 
    </form>

    <div class="link-section">
        <div class="links" (click)="navToCart()">
            <i class='bx bx-cart'></i>
            <span>CART</span>
        </div>
        <div class="links" (click)="onLogout()">
            <i class='bx bx-user'></i>
            <span>LOG OUT</span>
        </div>        
    </div>
</div>
</body>