* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
body, html { 
    width: 100%; 
    height: 100%; 
    overflow-x: hidden; 
} 
 
body { 
    position: fixed;  
    margin: 0; 
    padding: 0; 
    top: 0; 
    left: 0; 
    width: 100vw;  
    height: 100vh; 
    background: url("assets/b1.png") no-repeat center center; 
    background-size: cover; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}


 
.container { 
    display: fixed; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
} 
 
.navbar { 
    position:absolute;
    top: 0; 
    width: 100%; 
    max-width: 1920px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box; 
    text-decoration: none; 
    left: 0; 
} 
 
.menu { 
    cursor: pointer; 
    font-size: 45px; 
    color: white; 
    
} 
 
.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  }
  
.links {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    cursor: pointer;
    gap: 5px; 
    margin: 0 10px; 
  }
  
.links i {
    transition: color 0.3s ease;
  }
  
.links:hover {
    color: #a7836c;
  }
  
.links:hover i {
    color: #a7836c;
  }
  

 
.menu-container { 
    position: relative; 
    z-index: 3;
} 
 
.menu-panel { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 230px; 
    height: 100%; 
    background: rgb(108, 80, 75); 
    transform: translateX(-100%); 
    transition: transform 0.5s ease; 
    padding: 20px; 
} 
 
.menu-container:hover .menu-panel { 
    transform: translateX(0); 
} 
 
.menu-panel ul { 
    list-style: none; 
    padding: 0; 
    margin-top: 5px; 
} 
 
.menu-panel li { 
    font-size: 24px; 
    padding: 10px 20px; 
    color: white; 
} 
 
.menu-panel li a { 
    font-size: 24px; 
    padding: 3px 20px; 
    text-decoration: none; 
    color: white; 
    display: inline-block;
    white-space: nowrap; 
} 
 
.menu-panel li a:hover { 
    color: burlywood; 
    border-radius: 10px; 
} 
 
.menu-panel h2 { 
    font-size: 50px; 
    color: burlywood; 
} 
 
.search-container { 
    display: flex; 
    align-items: center; 
    gap: 20px; 
    position: relative;
    right:-40px;
    z-index: 3;
} 
 
.search { 
    border: none; 
    border-bottom: 5px solid white; 
    outline: none; 
    background: transparent; 
    color: white; 
    padding: 5px; 
    font-size: 18px; 
    width: 350px; 
} 
 
.search-icon { 
    font-size: 24px; 
    color: white; 
    cursor: pointer; 
    font-size: 40px; 
} 
 
.login-icon, 
.help-icon { 
    font-size: 24px; 
    color: white; 
    cursor: pointer; 
    font-size: 30px; 
    margin-bottom: 3px; 
    
} 
 
.menu-title img { 
    width: 220px; 
    height: auto; 
    display: block; 
    margin-bottom: 5px; 
    transition: transform 0.7s ease;
    cursor: pointer; 
} 
.menu-title img:active {
    transform: scale(0.7); 
}
.menu-title { 
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
