<div class="overlay">
    <div class="modal">
      <i class='bx bx-x close-btn' (click)="closeDialog()"></i> 
      <h2>Login</h2>
      <form (submit)="login()">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username" [(ngModel)]="username" name="username">
  
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" [(ngModel)]="password" name="password">
  
        <button type="submit">Login</button>
      </form>
      <nav>
        <a href="/create-account" class="create-account-link">Create your own account</a>
    </nav>
    </div>
</div>
