
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    background: #f4eadb; 
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left; 
    font-family: Arial, sans-serif;
    position: relative; 
}


.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #7c6653; 
}

.modal h2 {
    font-size: 20px;
    color: #7c6653;
    margin-bottom: 15px;
    text-align: center; 
}


.modal label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #7c6653;
    margin-bottom: 5px;
    margin-top: 15px; 
}

.modal input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c2a98c;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
}


.modal input::placeholder {
    color: #a88d6b;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}


.modal form {
    width: 100%;
}


.modal button {
    width: 100%;
    background: #a88d6b; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.modal button:hover {
    background: #8c7158;
}


.modal nav {
    text-align: center; 
    margin-top: 20px; 
}

.create-account-link {
    font-size: 14px;
    color: #a88d6b;
    text-decoration: none;
}

.create-account-link:hover {
    text-decoration: underline;
}
input {
    outline: none;
    transition: border 0.3s ease; 
  }
  
input:focus {
    box-shadow: 0 0 8px #7c5d30; 
  }
  
