<div class="navbar">
  
    <div class="menu-container">
      <div class="menu">☰</div>
      <div class="menu-panel">
        <h2 class="menu-title">
          <img src="public/homify.png" alt="Menu">
        </h2>    
        <ul>
          <li><a href="#">Living room</a></li>
          <li><a href="#">Kitchen</a></li>
          <li><a href="#">Bedroom</a></li>
          <li><a href="#">Bathroom</a></li>
          <li><a href="#">Aromas</a></li>
          <li><a href="#">Children</a></li>
        </ul>
      </div>
    </div>
  
    <div class="search-container">
      <i class="bx bx-search search-icon"></i>
      <input class="search" type="text" placeholder="Search">
    </div>
  
  <div class="link-section">
    <div class="links" (click)="openLogin()">
        <i class='bx bx-user'></i>
        <span>LOG IN</span>
      </div>
      <div class="links" (click)="openHelp()">
        <i class='bx bx-help-circle'></i>
        <span>HELP</span>
      </div>
    </div>
  </div>

  <script>
    function toggleMenu() {
      const menuPanel = document.getElementById('menuPanel');
      menuPanel.classList.toggle('open');
    }
  </script>
<router-outlet></router-outlet>
