<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homify</title>
  <link rel="stylesheet" href="/src/app/app.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css">
</head>

<body>
  <div class="wrapper">
  <div class="navbar">
    <div class="menu-container">
      <div class="menu" onclick="toggleMenu()">☰</div>
      <div class="menu-panel" id="menuPanel">
        <h2 class="menu-title">
           <img src="public/homify.png" alt="Menu" (click)="navigateHome()">
        </h2>    
        <ul>
          <li><a routerLink="/category/aromas">Aromas</a></li>
          <li><a routerLink="/category/children">Children</a></li>
          <li><a routerLink="/category/bedroom">Bedroom</a></li>
          <li><a routerLink="/category/bathroom">Bathroom</a></li>
          <li><a routerLink="/category/living-room">Living Room</a></li>
          <li><a routerLink="/category/kitchen">Kitchen</a></li>
        </ul>
      </div>
    </div>
  
    <div class="search-container">
      <i class="bx bx-search search-icon"></i>
      <input 
        #searchInput
        class="search" 
        type="text" 
        placeholder="Search"
        (keydown.enter)="searchProducts($event, searchInput.value)">
    </div>
    
  
    <div class="link-section">
      <div class="links" (click)="openLogin()">
        <i class='bx bx-user'></i>
        <span>LOG IN</span>
      </div>
      <div class="links" (click)="openHelp()">
        <i class='bx bx-help-circle'></i>
        <span>HELP</span>
      </div>
    </div>
  </div>

  

    <router-outlet></router-outlet>
</div>
  <footer class="footer">
    <div class="footer-news">
        <h3>STAY UP TO DATE WITH THE NEWS</h3>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank">
                <i class="bx bxl-facebook"></i> Facebook
            </a> | 
            <a href="https://instagram.com" target="_blank">
                <i class="bx bxl-instagram"></i> Instagram
            </a> | 
            <a href="https://twitter.com" target="_blank">
                <i class="bx bxl-twitter"></i> Twitter
            </a>
        </div>
    </div>


    
    <div class="footer-columns">
        <div class="footer-column">
            <h4>POLITICS</h4>
            <p>We value your privacy.<br>
               Transparent terms of purchase.<br>
               Your rights are our priority.<br>
               Easy return without unnecessary questions.</p>
        </div>
        <div class="footer-column">
            <h4>COMPANY</h4>
            <p>We create comfort in your home.<br>
               Customer trust is our goal.<br>
               Time-tested quality.<br>
               Together with you since 2025.</p>
        </div>
        <div class="footer-column">
            <h4>CUSTOMER SERVICE DEPARTMENT</h4>
            <p>We are always in touch.<br>
               We will help you with any question.<br>
               We take care of your comfort.<br>
               Fast service — satisfied customers.</p>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p> ©2025 HOMIFY</p>
    </div>
    
</footer>



  <script>
    function toggleMenu() {
      document.getElementById('menuPanel').classList.toggle('open');
    }
  </script>
</body>
</html>
