<div class="popup-container">

    <h2>How to make a purchase on homify.com?</h2>
    <p>Welcome to Homify! You can shop on homify.com as a guest or register. This makes shopping much easier: here you can find excellent home goods from several categories and save them in your cart!  </p>
    <p><b>If you have any questions, write to us:</b><i>support_homify.kz</i>,
    <br><b>Hotline number:</b> <i>+7 (777) 123-45-67</i></p>
    
    <i class='bx bx-x close-btn' (click)="closePopup()" ></i>
   

</div> 

   