.popup-container {
    position:fixed;
    margin-left: 560px;
    margin-top: -280px;
    padding: 20px;
    border-radius: 20px;
    max-width: 300px;
    background-color: rgb(255, 250, 245);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #7c6653; 
} 
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#7c6653;
    text-align: justify;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#504338;
    text-align: justify;
}