<body>
    <div class="link-section">
        <div class="links" (click)="navToCart()">
          <i class='bx bx-cart'></i>
          <span>CART</span>
        </div>
        <div class="links" (click)="navToAccount()">
          <i class='bx bx-user'></i>
          <span>ACC</span>
        </div>        
    </div>
<div class="cart">

    <h2>Shopping Cart(<span>{{ cartItems.length }}</span>)</h2>

    <hr/>

    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div *ngFor="let item of cartItems" class="cart-item" (click)="navigateToProduct(item.id)">
        <img [src]="item.image" alt="{{ item.name }}">
        <div class="cart-details">
          <h3>{{ item.name }}</h3>
          <p>₸{{ item.price }}</p>
          <button class="remove" (click)="removeFromCart(item.id);$event.stopPropagation();">Remove</button>
        </div>
      </div>
      <button class=' clear' (click)="clearCart()">Clear Cart</button>
    </div>
  
    <ng-template #emptyCart>
      <div class="empty">
      <i class="bx bx-cart-alt"></i>
      <p>Your cart is empty</p>
      <p>The items you add will be shown here.</p>
      </div>
    </ng-template>

</div>
</body>
